/* img {
    width: 100%;
    height: auto;
} */

.wp-text {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 35%;
    font-size: 2em
}

.wp-line::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 120px;
    background: #000;
    margin-left: 5px;
}
/* 
.wp-line::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 120px;
    background: #000;
    margin-left: 5px;
    display: inline-block;
} */
.wp-top-right {
    padding-top: 50px;
}

.wp-text-img {
    bottom: 0px;
}

.wp-box {
    margin-left: 21%;
    bottom: -75px;
}

.wp-bottom {
    margin-bottom: 100px;
}

.wp-input {
    padding: 5px 20px;
}

.wp-border-top {
    border-top: 2px solid #000000 ;
}