#part1, .padengpart1 {
	padding-bottom: 0px;
}

 .butt, .butt:hover {
	text-decoration: none;
	text-transform: none;
	border: none;
}


.navNum1 div a {
	margin-right: 70px;
	text-transform: none;
	text-decoration: none;
	color: #ffffff;
}

.navNum1 div a:hover {
	color: #fff;
	text-decoration: none;
}

.navNum1 {
	border-bottom: solid #fff 1px;
}

.navNum1 .brand {
	display: block;
	float: left;
}


/* */
.navNum2 div a {
	margin-right: 70px;
	text-transform: none;
	text-decoration: none;
	color: #000000;
}

.navNum2 div a:hover {
	color: #000000;
	text-decoration: none;
}


.navNum2 {
	border-bottom: solid #fff 1px;
}

.navNum2 .brand {
	display: block;
	float: left;
}

.checked {
  color: orange;
}

.divCent {
	text-align:center;
}

.formStyle {
	background-color: red; 
	width: 750px;
}

.noMarg {
	margin-bottom: 0px;
}

.imgHold {
	background-color: #345682; 
	width: 100px; 
	height: 100px; 
	float: left;
}

.imgHold2 {
	background-color: #345682; 
	width: 50px; 
	height: 50px; 
	float: left;
	margin-right: 20px;
}

.colorBack {
	background-color: #F6F7F8;
}

.img2Hold {
	background-color: #345682; 
	width: 100px; 
	height: 150px; 
	float: right;
}

.raundMarg {
	margin: 15px;
}

.fontMine {
	font-size: 12px;
}

.margBox {
	margin: 10px;
	height: 100px;
}

.colorBox1 {
	background-color: red;
}

.colorBox2 {
	background-color: #436798;
}

.BackFootColor {
	background-color: #1AD85E;
}

.textColor {
	color: #1AD85E;
}

#page5 .textColor {
	color: #ff0000;
}

.signInNav {
	background-color: #1AD85E;
	color: #ffffff;
	border: none;
}

#part1 .height {
	display: block;
	height: 300px;
	margin-top: 200px;
}

#part1 .search {
	width:75%;
	height: 60px;
}


form div.search-form {
	width: 70%;
}

#slaider .searchBut {
	width: 150px;
	background-color: #1AD85E;
	color: #ffffff;
}

#page2Part1 .search {
	width:450px;
	height: 60px;
}

#part1 form input {
	width: 300px;
}

#part2 .height2 {
	height: 150px;
}

#part2 p .styely {
	font:bold;
}

#part2 .buttonRi {
	float: right;
}

#part6 .space {
	height: 250px;
}

.numOfOrder {
	float: right;
}

.nameCatOrd {
	float: left;
}

.ordNow {
	float: right;
	background-color: #1AD85E;
}

.w-a {
	width: 70%;
}

.width-full {
	width: 100%;
}

.mineImg {
	width: 10%;
	height: 100%;
	background-color: red;
	float: left;
}

.mineText {
	font-size: 5px;
	float: right;
	padding-top: 10px; 
}

#page3 #mineText {
	font-size: 12px;
}

.cartFont {
	float: right;
}

.orderTextSize {
	font-size: 20px;
}


#part3 .bgBackRaund {
	background-color: #F6F7F8;
}

#part3 .bgBackMid {
	background-color: #1AD85E;
	color: #ffffff;
}

#part3 .Icon {
	width: 100px;
	height: 100px; 
}

.cardInfo {
	width: 330px;
	display: block;
	float: left;
}

.form {
	width: 691px;
	display: block;
	float: left;
}

.contactInfo {
	width: 250px;
	display: block;
	float: left;
}

.pupeularCard {
	width: 46%;
    height: auto;
    display: inline-block;
}

.download {
	font-size: 0.9rem;
}

.height {
	display: block;
	height: 300px;
	margin-top: 200px;
}

#page2Part2 h1 {
	float: left;
}

#page2Part2 button {
	float: right;
}

#page2 ,#page4 ,#page5 ,#page6 ,#page7 ,#page8{
	background-color: #F6F7F8;
}

.ordrePopuler {
	background-color: #1AD85E;
	color: #ffffff;
}

.ordreNew {
	background-color: #FF0000;
	color: #ffffff;
}

.ordreOffer {
	background-color: #FFCC00;
	color: #ffffff;
}

.buttuns {
	background-color: #1AD85E;
}


#page3 #slaider .imgBig {
	width: 350px;
}

#page #slaider .textHold {
	width: 350px;
}

#page3EndPart1 {
	height: 50px; 
	background-color: #000000;
}

.addNow {
	background-color: #7992B1;
}

.imgCardHold {
	float: left;
	display: block;
}

.borderCard {
	border-bottom-color: #345682;
	border-bottom: solid 1px;
}





.dropbtn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  display: none;
  width: 350px;
  background-color: #ffffff;
  color: #000000;
  overflow: auto;
  z-index: 99;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}



.show {
	display: block;
}

#drobet::before {
	display: block;
    content: "";
    border-top: .2rem solid #1AD85E;
    margin-top: 17px;
}

#drobet {
 	background-color: #ffffff;
}

.locetionHome {
	float: left;
}

.locetionInfo {
	width: 300px;
	display: block;
	float: left;
}

.locetionBorder {
	border: solid #1AD85E 1.5px ;
}

.locetion {
	float: right;
}




.active_tab1 {
	background-color: #fff;
	color: #333;
	font-weight: 600;
}

.inactive_tap1 {
	background-color: #f5f5f5;
	color: #333;
}

.has-error {
	border-color: #cc0000;
	background-color: #ffff99;
}
